In [1]:
import numpy as np
import pandas as pd
# For regular expressions
import re
# For handling string
import string

In [2]:
# Importing dataset
df = pd.read_json('Resume.json', lines=True)
df.to_csv('dataframe.csv', index = None)
print(f"Shape of the dataset: {df.shape}")
df.head()

Shape of the dataset: (200, 2)

                                             content                                         annotation
0  Govardhana K\nSenior Software Engineer\n\nBeng...  [{'label': ['Companies worked at'], 'points': ...
1  Harini Komaravelli\nTest Analyst at Oracle, Hy...  [{'label': ['Companies worked at'], 'points': ...
2  Hartej Kathuria\nData Analyst Intern - Oracle ...  [{'label': ['Skills'], 'points': [{'start': 22...
3  Ijas Nizamuddin\nAssociate Consultant - State ...  [{'label': ['Skills'], 'points': [{'start': 46...
4  Imgeeyaul Ansari\njava developer\n\nPune, Maha...  [{'label': ['Skills'], 'points': [{'start': 18...

In [3]:
df.isnull().sum()

content       0
annotation    0
dtype: int64

In [4]:
# Dictionary of English Contractions
contractions_dict = { "ain't": "are not","aren't": "are not",
                     "can't": "cannot","can't've": "cannot have",
                     "'cause": "because","could've": "could have","couldn't": "could not",
                     "couldn't've": "could not have", "didn't": "did not","doesn't": "does not",
                     "don't": "do not","hadn't": "had not","hadn't've": "had not have",
                     "hasn't": "has not","haven't": "have not","he'd": "he would",
                     "he'd've": "he would have","he'll": "he will", "he'll've": "he will have",
                     "how'd": "how did","how'd'y": "how do you","how'll": "how will",
                     "I'd": "I would", "I'd've": "I would have","I'll": "I will",
                     "I'll've": "I will have","I'm": "I am","I've": "I have", "isn't": "is not",
                     "it'd": "it would","it'd've": "it would have","it'll": "it will",
                     "it'll've": "it will have", "let's": "let us","ma'am": "madam",
                     "mayn't": "may not","might've": "might have","mightn't": "might not", 
                     "mightn't've": "might not have","must've": "must have","mustn't": "must not",
                     "mustn't've": "must not have", "needn't": "need not",
                     "needn't've": "need not have","o'clock": "of the clock","oughtn't": "ought not",
                     "oughtn't've": "ought not have","shan't": "shall not","sha'n't": "shall not",
                     "shan't've": "shall not have","she'd": "she would","she'd've": "she would have",
                     "she'll": "she will", "she'll've": "she will have","should've": "should have",
                     "shouldn't": "should not", "shouldn't've": "should not have","so've": "so have",
                     "that'd": "that would","that'd've": "that would have", "there'd": "there would",
                     "there'd've": "there would have", "they'd": "they would",
                     "they'd've": "they would have","they'll": "they will",
                     "they'll've": "they will have", "they're": "they are","they've": "they have",
                     "to've": "to have","wasn't": "was not","we'd": "we would",
                     "we'd've": "we would have","we'll": "we will","we'll've": "we will have",
                     "we're": "we are","we've": "we have", "weren't": "were not","what'll": "what will",
                     "what'll've": "what will have","what're": "what are", "what've": "what have",
                     "when've": "when have","where'd": "where did", "where've": "where have",
                     "who'll": "who will","who'll've": "who will have","who've": "who have",
                     "why've": "why have","will've": "will have","won't": "will not",
                     "won't've": "will not have", "would've": "would have","wouldn't": "would not",
                     "wouldn't've": "would not have","y'all": "you all", "y'all'd": "you all would",
                     "y'all'd've": "you all would have","y'all're": "you all are",
                     "y'all've": "you all have", "you'd": "you would","you'd've": "you would have",
                     "you'll": "you will","you'll've": "you will have", "you're": "you are",
                     "you've": "you have"}

# Regular expression for finding contractions
contractions_re=re.compile('(%s)' % '|'.join(contractions_dict.keys()))

# Function for expanding contractions
def expand_contractions(text, contractions_dict=contractions_dict):
  def replace(match):
    return contractions_dict[match.group(0)]
  return contractions_re.sub(replace, text)

# Expanding Contractions in the reviews
df['content_new'] = df['content'].apply(lambda x:expand_contractions(x))

In [6]:
df

                                               content  ...                                        content_new
0    Govardhana K\nSenior Software Engineer\n\nBeng...  ...  Govardhana K\nSenior Software Engineer\n\nBeng...
1    Harini Komaravelli\nTest Analyst at Oracle, Hy...  ...  Harini Komaravelli\nTest Analyst at Oracle, Hy...
2    Hartej Kathuria\nData Analyst Intern - Oracle ...  ...  Hartej Kathuria\nData Analyst Intern - Oracle ...
3    Ijas Nizamuddin\nAssociate Consultant - State ...  ...  Ijas Nizamuddin\nAssociate Consultant - State ...
4    Imgeeyaul Ansari\njava developer\n\nPune, Maha...  ...  Imgeeyaul Ansari\njava developer\n\nPune, Maha...
..                                                 ...  ...                                                ...
195  Mansi Thanki\nStudent\n\nJamnagar, Gujarat - E...  ...  Mansi Thanki\nStudent\n\nJamnagar, Gujarat - E...
196  Anil Kumar\nMicrosoft Azure (Basic Management)...  ...  Anil Kumar\nMicrosoft Azure (Basic Management)...
197  Siddharth Choudhary\nMicrosoft Office Suite - ...  ...  Siddharth Choudhary\nMicrosoft Office Suite - ...
198  Valarmathi Dhandapani\nInvestment Banking Oper...  ...  Valarmathi Dhandapani\nInvestment Banking Oper...
199  Pradeep Kumar\nSecurity Analyst in Infosys - C...  ...  Pradeep Kumar\nSecurity Analyst in Infosys - C...

[200 rows x 3 columns]

In [7]:
df['content'] == df['content_new']

0      True
1      True
2      True
3      True
4      True
       ...
195    True
196    True
197    True
198    True
199    True
Length: 200, dtype: bool

In [8]:
# Lowercase
df['content_new']=df['content_new'].apply(lambda x: x.lower())
df.head()

                                             content  ...                                        content_new
0  Govardhana K\nSenior Software Engineer\n\nBeng...  ...  govardhana k\nsenior software engineer\n\nbeng...
1  Harini Komaravelli\nTest Analyst at Oracle, Hy...  ...  harini komaravelli\ntest analyst at oracle, hy...
2  Hartej Kathuria\nData Analyst Intern - Oracle ...  ...  hartej kathuria\ndata analyst intern - oracle ...
3  Ijas Nizamuddin\nAssociate Consultant - State ...  ...  ijas nizamuddin\nassociate consultant - state ...
4  Imgeeyaul Ansari\njava developer\n\nPune, Maha...  ...  imgeeyaul ansari\njava developer\n\npune, maha...

[5 rows x 3 columns]

In [9]:
df['content_new'][0]

'govardhana k\nsenior software engineer\n\nbengaluru, karnataka, karnataka - email me on indeed: indeed.com/r/govardhana-k/\nb2de315d95905b68\n\ntotal it experience 5 years 6 months\ncloud lending solutions inc 4 month • salesforce developer\noracle 5 years 2 month • core java developer\nlanguages core java, go lang\noracle pl-sql programming,\nsales force developer with apex.\n\ndesignations & promotions\n\nwilling to relocate: anywhere\n\nwork experience\n\nsenior software engineer\n\ncloud lending solutions -  bangalore, karnataka -\n\njanuary 2018 to present\n\npresent\n\nsenior consultant\n\noracle -  bangalore, karnataka -\n\nnovember 2016 to december 2017\n\nstaff consultant\n\noracle -  bangalore, karnataka -\n\njanuary 2014 to october 2016\n\nassociate consultant\n\noracle -  bangalore, karnataka -\n\nnovember 2012 to december 2013\n\neducation\n\nb.e in computer science engineering\n\nadithya institute of technology -  tamil nadu\n\nseptember 2008 to june 2012\n\nhttps://www.indeed.com/r/govardhana-k/b2de315d95905b68?isid=rex-download&ikw=download-top&co=in\nhttps://www.indeed.com/r/govardhana-k/b2de315d95905b68?isid=rex-download&ikw=download-top&co=in\n\n\nskills\n\napex. (less than 1 year), data structures (3 years), flexcube (5 years), oracle (5 years),\nalgorithms (3 years)\n\nlinks\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/\n\nadditional information\n\ntechnical proficiency:\n\nlanguages: core java, go lang, data structures & algorithms, oracle\npl-sql programming, sales force with apex.\ntools: radtool, jdeveloper, netbeans, eclipse, sql developer,\npl/sql developer, winscp, putty\nweb technologies: javascript, xml, html, webservice\n\noperating systems: linux, windows\nversion control system svn & git-hub\ndatabases: oracle\nmiddleware: web logic, oc4j\nproduct flexcube: oracle flexcube versions 10.x, 11.x and 12.x\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/'

In [10]:
# Removing extra spaces
df['content_new']=df['content_new'].apply(lambda x: re.sub(' +',' ',x))
df['content_new'][0]

'govardhana k\nsenior software engineer\n\nbengaluru, karnataka, karnataka - email me on indeed: indeed.com/r/govardhana-k/\nb2de315d95905b68\n\ntotal it experience 5 years 6 months\ncloud lending solutions inc 4 month • salesforce developer\noracle 5 years 2 month • core java developer\nlanguages core java, go lang\noracle pl-sql programming,\nsales force developer with apex.\n\ndesignations & promotions\n\nwilling to relocate: anywhere\n\nwork experience\n\nsenior software engineer\n\ncloud lending solutions - bangalore, karnataka -\n\njanuary 2018 to present\n\npresent\n\nsenior consultant\n\noracle - bangalore, karnataka -\n\nnovember 2016 to december 2017\n\nstaff consultant\n\noracle - bangalore, karnataka -\n\njanuary 2014 to october 2016\n\nassociate consultant\n\noracle - bangalore, karnataka -\n\nnovember 2012 to december 2013\n\neducation\n\nb.e in computer science engineering\n\nadithya institute of technology - tamil nadu\n\nseptember 2008 to june 2012\n\nhttps://www.indeed.com/r/govardhana-k/b2de315d95905b68?isid=rex-download&ikw=download-top&co=in\nhttps://www.indeed.com/r/govardhana-k/b2de315d95905b68?isid=rex-download&ikw=download-top&co=in\n\n\nskills\n\napex. (less than 1 year), data structures (3 years), flexcube (5 years), oracle (5 years),\nalgorithms (3 years)\n\nlinks\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/\n\nadditional information\n\ntechnical proficiency:\n\nlanguages: core java, go lang, data structures & algorithms, oracle\npl-sql programming, sales force with apex.\ntools: radtool, jdeveloper, netbeans, eclipse, sql developer,\npl/sql developer, winscp, putty\nweb technologies: javascript, xml, html, webservice\n\noperating systems: linux, windows\nversion control system svn & git-hub\ndatabases: oracle\nmiddleware: web logic, oc4j\nproduct flexcube: oracle flexcube versions 10.x, 11.x and 12.x\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/'