In [1]:
import pandas as pd
df = pd.read_json ('/content/Resume.json',lines=True)
df.to_csv ('dataframe.csv', index = None)

In [2]:
df.head()

                                             content                                         annotation
0  Govardhana K\nSenior Software Engineer\n\nBeng...  [{'label': ['Companies worked at'], 'points': ...
1  Harini Komaravelli\nTest Analyst at Oracle, Hy...  [{'label': ['Companies worked at'], 'points': ...
2  Hartej Kathuria\nData Analyst Intern - Oracle ...  [{'label': ['Skills'], 'points': [{'start': 22...
3  Ijas Nizamuddin\nAssociate Consultant - State ...  [{'label': ['Skills'], 'points': [{'start': 46...
4  Imgeeyaul Ansari\njava developer\n\nPune, Maha...  [{'label': ['Skills'], 'points': [{'start': 18...

In [3]:
df.shape

(200, 2)

In [4]:
df.isnull().sum()

content       0
annotation    0
dtype: int64

In [5]:
# Function to get the size of dataset

def humanbytes(B):
   'Return the given bytes as a human friendly KB, MB, GB, or TB string'
   B = float(B)
   KB = float(1024)
   MB = float(KB ** 2) # 1,048,576
   GB = float(KB ** 3) # 1,073,741,824
   TB = float(KB ** 4) # 1,099,511,627,776

   if B < KB:
      return '{0} {1}'.format(B,'Bytes' if 0 == B > 1 else 'Byte')
   elif KB <= B < MB:
      return '{0:.2f} KB'.format(B/KB)
   elif MB <= B < GB:
      return '{0:.2f} MB'.format(B/MB)
   elif GB <= B < TB:
      return '{0:.2f} GB'.format(B/GB)
   elif TB <= B:
      return '{0:.2f} TB'.format(B/TB)

In [6]:
size = df.memory_usage(deep=True).sum()
file_size = humanbytes(size)
print(file_size)

1.41 MB

In [7]:
df.iloc[0]['annotation']

[{'label': ['Companies worked at'],
  'points': [{'end': 1754, 'start': 1749, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 1701, 'start': 1696, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 1422, 'start': 1417, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'end': 1792,
    'start': 1356,
    'text': 'Languages: Core Java, Go Lang, Data Structures & Algorithms, Oracle\nPL-SQL programming, Sales Force with APEX.\nTools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer,\nPL/SQL Developer, WinSCP, Putty\nWeb Technologies: JavaScript, XML, HTML, Webservice\n\nOperating Systems: Linux, Windows\nVersion control system SVN & Git-Hub\nDatabases: Oracle\nMiddleware: Web logic, OC4J\nProduct FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 1214, 'start': 1209, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'end': 1247,
    'start': 1136,
    'text': 'APEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years),\nAlgorithms (3 years)\n'}]},
 {'label': ['Graduation Year'],
  'points': [{'end': 931, 'start': 928, 'text': '2012'}]},
 {'label': ['College Name'],
  'points': [{'end': 888,
    'start': 858,
    'text': 'Adithya Institute of Technology'}]},
 {'label': ['Degree'],
  'points': [{'end': 855,
    'start': 821,
    'text': 'B.E in Computer Science Engineering'}]},
 {'label': ['Graduation Year'],
  'points': [{'end': 790, 'start': 787, 'text': '2012'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 749, 'start': 744, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'end': 741, 'start': 722, 'text': 'Associate Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 663, 'start': 658, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'end': 655, 'start': 640, 'text': 'Staff Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 579, 'start': 574, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'end': 572, 'start': 555, 'text': 'Senior Consultant\n'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 492, 'start': 470, 'text': 'Cloud Lending Solutions'}]},
 {'label': ['Designation'],
  'points': [{'end': 468,
    'start': 444,
    'text': 'Senior Software Engineer\n'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 313, 'start': 308, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 239, 'start': 234, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 197, 'start': 175, 'text': 'Cloud Lending Solutions'}]},
 {'label': ['Email Address'],
  'points': [{'end': 136,
    'start': 93,
    'text': 'indeed.com/r/Govardhana-K/\nb2de315d95905b68\n'}]},
 {'label': ['Location'],
  'points': [{'end': 47, 'start': 39, 'text': 'Bengaluru'}]},
 {'label': ['Designation'],
  'points': [{'end': 37, 'start': 13, 'text': 'Senior Software Engineer\n'}]},
 {'label': ['Name'],
  'points': [{'end': 11, 'start': 0, 'text': 'Govardhana K'}]}]

In [8]:
df.iloc[0]['content']

'Govardhana K\nSenior Software Engineer\n\nBengaluru, Karnataka, Karnataka - Email me on Indeed: indeed.com/r/Govardhana-K/\nb2de315d95905b68\n\nTotal IT experience 5 Years 6 Months\nCloud Lending Solutions INC 4 Month • Salesforce Developer\nOracle 5 Years 2 Month • Core Java Developer\nLanguages Core Java, Go Lang\nOracle PL-SQL programming,\nSales Force Developer with APEX.\n\nDesignations & Promotions\n\nWilling to relocate: Anywhere\n\nWORK EXPERIENCE\n\nSenior Software Engineer\n\nCloud Lending Solutions -  Bangalore, Karnataka -\n\nJanuary 2018 to Present\n\nPresent\n\nSenior Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2016 to December 2017\n\nStaff Consultant\n\nOracle -  Bangalore, Karnataka -\n\nJanuary 2014 to October 2016\n\nAssociate Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2012 to December 2013\n\nEDUCATION\n\nB.E in Computer Science Engineering\n\nAdithya Institute of Technology -  Tamil Nadu\n\nSeptember 2008 to June 2012\n\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\n\n\nSKILLS\n\nAPEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years),\nAlgorithms (3 years)\n\nLINKS\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/\n\nADDITIONAL INFORMATION\n\nTechnical Proficiency:\n\nLanguages: Core Java, Go Lang, Data Structures & Algorithms, Oracle\nPL-SQL programming, Sales Force with APEX.\nTools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer,\nPL/SQL Developer, WinSCP, Putty\nWeb Technologies: JavaScript, XML, HTML, Webservice\n\nOperating Systems: Linux, Windows\nVersion control system SVN & Git-Hub\nDatabases: Oracle\nMiddleware: Web logic, OC4J\nProduct FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/'