<h1><center>NER - Resume Extractor</center></h1>
<h1><center>By: Team ZeRoS</center></h1>

## Problem Description:
When companies recruit for any position, they usually end up receiving thousands, if not millions, of resumes. Such a uge number of resumes makes the task of going over all these resumes an extremely difficult and tedious job for HR employees. This made a lot of companies opt for systems that take the necessary information from the candidate after they fill an application with all the required fields. The solution worked greatly for employers; nevertheless, candidates have always found it very illogical to spend tens of hours sharpening their CVs and cover letters only to find out that they must spend another hour or so re-entering all the information they have on their CVs in the designated fields.

## Business Understanding:
It is often observed by HR that the manual process of evaluation of Resumes in bulk which are populated with excess information often becomes tedious and hectic. Therefore, we could automate this process by reading several formats of files (CV). Then using some basic techniques of Natural Language Processing like word parsing, chunking, regex parser and/or Named Entity Recognition to easily capture information like name, email id, address, educational qualification, experience in seconds from a large number of documents.

## File Ingestion and Schema Validation

In [1]:
%%writefile testutility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re

def read_yml_file(file_path):
    with open(file_path, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)

def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string)
    return string

def col_validate(df, col_config):
  cols = df.columns
  cols = cols.str.strip()
  cols.str.replace("_", "")
  cols = list(map(lambda x: replacer(x, ' '), list(cols)))
  expected_col = list(map(lambda x: x.lower(),  col_config['columns']))
  cols.sort()
  expected_col.sort()
  if len(cols) == len(expected_col) and cols == expected_col:
    print("Column name and Column length Validation Passed!!")
    return 1
  else:
    print("Column name and Column length Validation Failed..")
    mismatched_columns_file = list(set(cols).difference(expected_col))
    print("Following File columns are not in the YAML file", mismatched_columns_file)
    missing_YAML_file = list(set(expected_col).difference(cols))
    print("Following YAML columns are not in the file uploaded", missing_YAML_file)
    logging.info(f'df columns: {cols}')
    logging.info(f'expected columns: {expected_col}')
    return 0

# Function to get the size of dataset
def humanbytes(B):
  'Return the given bytes as a human friendly KB, MB, GB, or TB string'
  B = float(B)
  KB = float(1024)
  MB = float(KB ** 2) # 1,048,576
  GB = float(KB ** 3) # 1,073,741,824
  TB = float(KB ** 4) # 1,099,511,627,776

  if B < KB:
    return '{0} {1}'.format(B,'Bytes' if 0 == B > 1 else 'Byte')
  elif KB <= B < MB:
    return '{0:.2f} KB'.format(B/KB)
  elif MB <= B < GB:
    return '{0:.2f} MB'.format(B/MB)
  elif GB <= B < TB:
    return '{0:.2f} GB'.format(B/GB)
  elif TB <= B:
    return '{0:.2f} TB'.format(B/TB)

Overwriting testutility.py

# Writing YAML File

In [2]:
%%writefile file.yaml
columns: 
  - annotation
  - content
dataset_name: resumes
dtypes: 
  annotation: list
  content: str
file_name: Resume
file_type: json
skip_leading_rows: 1
table_name: resumes

Overwriting file.yaml

# Reading the Configuration File

In [3]:
# Read config file
import testutility as util
col_config = util.read_yml_file("file.yaml")

In [4]:
#inspecting data of config file
col_config

{'columns': ['annotation', 'content'],
 'dataset_name': 'resumes',
 'dtypes': {'annotation': 'list', 'content': 'str'},
 'file_name': 'Resume',
 'file_type': 'json',
 'skip_leading_rows': 1,
 'table_name': 'resumes'}

In [5]:
# Read the file using yaml config file
file_type = col_config['file_type']
source_file = col_config['file_name'] + f'.{file_type}'
source_file

'Resume.json'

In [6]:
import pandas as pd

df = pd.read_json(source_file, lines=True)
df.to_csv('dataframe.csv', index = None)
df.head()

                                             content                                         annotation
0  Govardhana K\nSenior Software Engineer\n\nBeng...  [{'label': ['Companies worked at'], 'points': ...
1  Harini Komaravelli\nTest Analyst at Oracle, Hy...  [{'label': ['Companies worked at'], 'points': ...
2  Hartej Kathuria\nData Analyst Intern - Oracle ...  [{'label': ['Skills'], 'points': [{'start': 22...
3  Ijas Nizamuddin\nAssociate Consultant - State ...  [{'label': ['Skills'], 'points': [{'start': 46...
4  Imgeeyaul Ansari\njava developer\n\nPune, Maha...  [{'label': ['Skills'], 'points': [{'start': 18...

In [7]:
# Getting the size of the dataset
size = df.memory_usage(deep=True).sum()
file_size = util.humanbytes(size)
print(file_size)

1.41 MB

In [8]:
# Checking the shape of dataframe
df.shape

(200, 2)

In [9]:
# Checking no. of NA Values
df.isnull().sum()

content       0
annotation    0
dtype: int64

In [10]:
df['annotation'][0]

[{'label': ['Companies worked at'],
  'points': [{'end': 1754, 'start': 1749, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 1701, 'start': 1696, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 1422, 'start': 1417, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'end': 1792,
    'start': 1356,
    'text': 'Languages: Core Java, Go Lang, Data Structures & Algorithms, Oracle\nPL-SQL programming, Sales Force with APEX.\nTools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer,\nPL/SQL Developer, WinSCP, Putty\nWeb Technologies: JavaScript, XML, HTML, Webservice\n\nOperating Systems: Linux, Windows\nVersion control system SVN & Git-Hub\nDatabases: Oracle\nMiddleware: Web logic, OC4J\nProduct FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 1214, 'start': 1209, 'text': 'Oracle'}]},
 {'label': ['Skills'],
  'points': [{'end': 1247,
    'start': 1136,
    'text': 'APEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years),\nAlgorithms (3 years)\n'}]},
 {'label': ['Graduation Year'],
  'points': [{'end': 931, 'start': 928, 'text': '2012'}]},
 {'label': ['College Name'],
  'points': [{'end': 888,
    'start': 858,
    'text': 'Adithya Institute of Technology'}]},
 {'label': ['Degree'],
  'points': [{'end': 855,
    'start': 821,
    'text': 'B.E in Computer Science Engineering'}]},
 {'label': ['Graduation Year'],
  'points': [{'end': 790, 'start': 787, 'text': '2012'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 749, 'start': 744, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'end': 741, 'start': 722, 'text': 'Associate Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 663, 'start': 658, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'end': 655, 'start': 640, 'text': 'Staff Consultant'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 579, 'start': 574, 'text': 'Oracle'}]},
 {'label': ['Designation'],
  'points': [{'end': 572, 'start': 555, 'text': 'Senior Consultant\n'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 492, 'start': 470, 'text': 'Cloud Lending Solutions'}]},
 {'label': ['Designation'],
  'points': [{'end': 468,
    'start': 444,
    'text': 'Senior Software Engineer\n'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 313, 'start': 308, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 239, 'start': 234, 'text': 'Oracle'}]},
 {'label': ['Companies worked at'],
  'points': [{'end': 197, 'start': 175, 'text': 'Cloud Lending Solutions'}]},
 {'label': ['Email Address'],
  'points': [{'end': 136,
    'start': 93,
    'text': 'indeed.com/r/Govardhana-K/\nb2de315d95905b68\n'}]},
 {'label': ['Location'],
  'points': [{'end': 47, 'start': 39, 'text': 'Bengaluru'}]},
 {'label': ['Designation'],
  'points': [{'end': 37, 'start': 13, 'text': 'Senior Software Engineer\n'}]},
 {'label': ['Name'],
  'points': [{'end': 11, 'start': 0, 'text': 'Govardhana K'}]}]

In [11]:
df['content'][0]

'Govardhana K\nSenior Software Engineer\n\nBengaluru, Karnataka, Karnataka - Email me on Indeed: indeed.com/r/Govardhana-K/\nb2de315d95905b68\n\nTotal IT experience 5 Years 6 Months\nCloud Lending Solutions INC 4 Month • Salesforce Developer\nOracle 5 Years 2 Month • Core Java Developer\nLanguages Core Java, Go Lang\nOracle PL-SQL programming,\nSales Force Developer with APEX.\n\nDesignations & Promotions\n\nWilling to relocate: Anywhere\n\nWORK EXPERIENCE\n\nSenior Software Engineer\n\nCloud Lending Solutions -  Bangalore, Karnataka -\n\nJanuary 2018 to Present\n\nPresent\n\nSenior Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2016 to December 2017\n\nStaff Consultant\n\nOracle -  Bangalore, Karnataka -\n\nJanuary 2014 to October 2016\n\nAssociate Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2012 to December 2013\n\nEDUCATION\n\nB.E in Computer Science Engineering\n\nAdithya Institute of Technology -  Tamil Nadu\n\nSeptember 2008 to June 2012\n\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\n\n\nSKILLS\n\nAPEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years),\nAlgorithms (3 years)\n\nLINKS\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/\n\nADDITIONAL INFORMATION\n\nTechnical Proficiency:\n\nLanguages: Core Java, Go Lang, Data Structures & Algorithms, Oracle\nPL-SQL programming, Sales Force with APEX.\nTools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer,\nPL/SQL Developer, WinSCP, Putty\nWeb Technologies: JavaScript, XML, HTML, Webservice\n\nOperating Systems: Linux, Windows\nVersion control system SVN & Git-Hub\nDatabases: Oracle\nMiddleware: Web logic, OC4J\nProduct FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/'

In [13]:
# Validating Input File
if util.col_validate(df, col_config) == 0:
    print("Validation Failed!!")
else:
    print("Column Validation Passed..")

Column name and Column length Validation Passed!!
Column Validation Passed..