# Reeka Hazarika
## Project Name : NLP - Resume Extraction

## Week 8 & Week 9 - Data Cleansing and Transformation

In [1]:
import pandas as pd
df = pd.read_json (r'C:/Users/HAZARIKA/Desktop/Resume.json',lines=True)
df.to_csv (r'dataframe.csv', sep="\t", index = None)

In [2]:
df

,content,annotation
0,Govardhana K\nSenior Software Engineer\n\nBeng...,"[{'label': ['Companies worked at'], 'points': ..."
1,"Harini Komaravelli\nTest Analyst at Oracle, Hy...","[{'label': ['Companies worked at'], 'points': ..."
2,Hartej Kathuria\nData Analyst Intern - Oracle ...,"[{'label': ['Skills'], 'points': [{'start': 22..."
3,Ijas Nizamuddin\nAssociate Consultant - State ...,"[{'label': ['Skills'], 'points': [{'start': 46..."
4,"Imgeeyaul Ansari\njava developer\n\nPune, Maha...","[{'label': ['Skills'], 'points': [{'start': 18..."
...,...,...
195,"Mansi Thanki\nStudent\n\nJamnagar, Gujarat - E...","[{'label': ['College Name'], 'points': [{'star..."
196,Anil Kumar\nMicrosoft Azure (Basic Management)...,"[{'label': ['Location'], 'points': [{'start': ..."
197,Siddharth Choudhary\nMicrosoft Office Suite - ...,"[{'label': ['Skills'], 'points': [{'start': 78..."
198,Valarmathi Dhandapani\nInvestment Banking Oper...,"[{'label': ['Skills'], 'points': [{'start': 92..."
199,Pradeep Kumar\nSecurity Analyst in Infosys - C...,"[{'label': ['Skills'], 'points': [{'start': 58..."

In [3]:
df.shape

(200, 2)

In [4]:
df.isnull().sum() #NAs

content       0
annotation    0
dtype: int64

In [5]:
# Function to get the size of dataset

def humanbytes(B):
   'Return the given bytes as a human friendly KB, MB, GB, or TB string'
   B = float(B)
   KB = float(1024)
   MB = float(KB ** 2) # 1,048,576
   GB = float(KB ** 3) # 1,073,741,824
   TB = float(KB ** 4) # 1,099,511,627,776

   if B < KB:
      return '{0} {1}'.format(B,'Bytes' if 0 == B > 1 else 'Byte')
   elif KB <= B < MB:
      return '{0:.2f} KB'.format(B/KB)
   elif MB <= B < GB:
      return '{0:.2f} MB'.format(B/MB)
   elif GB <= B < TB:
      return '{0:.2f} GB'.format(B/GB)
   elif TB <= B:
      return '{0:.2f} TB'.format(B/TB)

In [6]:
size = df.memory_usage(deep=True).sum() #Size of the Dataset
file_size = humanbytes(size)
print(file_size)

1.41 MB

In [7]:
df.content[0]

'Govardhana K\nSenior Software Engineer\n\nBengaluru, Karnataka, Karnataka - Email me on Indeed: indeed.com/r/Govardhana-K/\nb2de315d95905b68\n\nTotal IT experience 5 Years 6 Months\nCloud Lending Solutions INC 4 Month • Salesforce Developer\nOracle 5 Years 2 Month • Core Java Developer\nLanguages Core Java, Go Lang\nOracle PL-SQL programming,\nSales Force Developer with APEX.\n\nDesignations & Promotions\n\nWilling to relocate: Anywhere\n\nWORK EXPERIENCE\n\nSenior Software Engineer\n\nCloud Lending Solutions -  Bangalore, Karnataka -\n\nJanuary 2018 to Present\n\nPresent\n\nSenior Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2016 to December 2017\n\nStaff Consultant\n\nOracle -  Bangalore, Karnataka -\n\nJanuary 2014 to October 2016\n\nAssociate Consultant\n\nOracle -  Bangalore, Karnataka -\n\nNovember 2012 to December 2013\n\nEDUCATION\n\nB.E in Computer Science Engineering\n\nAdithya Institute of Technology -  Tamil Nadu\n\nSeptember 2008 to June 2012\n\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\nhttps://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN\n\n\nSKILLS\n\nAPEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years),\nAlgorithms (3 years)\n\nLINKS\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/\n\nADDITIONAL INFORMATION\n\nTechnical Proficiency:\n\nLanguages: Core Java, Go Lang, Data Structures & Algorithms, Oracle\nPL-SQL programming, Sales Force with APEX.\nTools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer,\nPL/SQL Developer, WinSCP, Putty\nWeb Technologies: JavaScript, XML, HTML, Webservice\n\nOperating Systems: Linux, Windows\nVersion control system SVN & Git-Hub\nDatabases: Oracle\nMiddleware: Web logic, OC4J\nProduct FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x\n\nhttps://www.linkedin.com/in/govardhana-k-61024944/'

# Data Preprocessing - 
## Used Tokenization, POS Tag, Stopwords, Lemmatization , TF-IDF & Word2Vec.
## Note:
## Not used "Bag of Words" as it does not show proper representation of words with only 1 & 0 vectors in comparison to TF-IDF & Word2Vec.
## Not used "Stemming" as it does not show meaningful words in comparison to Lemmatization.

In [8]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')
from nltk.tag import pos_tag

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HAZARIKA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [9]:
from nltk.corpus import stopwords
import re
from nltk.stem import WordNetLemmatizer
clean=[]

## Stopwords, Lemmatization & Wordnet

In [10]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
for i in range(0,200):
    review = re.sub('(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?"', ' ', df['content'][i])
    review = review.lower()
    review = review.split()
    lm= WordNetLemmatizer() 
    review = [lm.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    clean.append(review)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HAZARIKA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HAZARIKA\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## TF-IDF Vectorization

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv = TfidfVectorizer()
x=tv.fit_transform(clean).toarray()
print(x)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

## Word2Vec

In [13]:
from gensim.models import Word2Vec

In [14]:
sentences = nltk.sent_tokenize(review)
sentences = [nltk.word_tokenize(sentence) for sentence in sentences]
model = Word2Vec(sentences, min_count=1)

In [15]:
#Finding word vector for the word "experience"
vector = model.wv["experience"]
vector

array([-0.00711564,  0.00126712, -0.00718829, -0.00225615,  0.00370245,
        0.00578315,  0.00120402,  0.00216535, -0.00409665,  0.00720563,
       -0.00633804,  0.00461451, -0.00821366,  0.00204886, -0.00499583,
       -0.00428489, -0.0030931 ,  0.00563169,  0.00580617, -0.00500022,
        0.00078022, -0.0084769 ,  0.00781403,  0.00923922, -0.00275724,
        0.0008126 ,  0.00071129,  0.00549431, -0.00862732,  0.00058151,
        0.00686167,  0.00220257,  0.00117862, -0.00936352,  0.0084684 ,
       -0.00624412, -0.00297818,  0.00345851, -0.00078243,  0.00136578,
        0.00176774, -0.00685023, -0.00972211,  0.00902148,  0.00622661,
       -0.00691582,  0.00335744,  0.0001882 ,  0.00476486, -0.00711725,
        0.00401011,  0.00434295,  0.00998454, -0.00449922, -0.00135554,
       -0.00733079, -0.00967361, -0.00908806, -0.0010564 , -0.00650408,
        0.00485717, -0.00618807,  0.00250443,  0.0007724 , -0.00339914,
       -0.0009304 ,  0.00999382,  0.00916556, -0.00452577,  0.00913984,
       -0.00563512,  0.00593614, -0.00306417,  0.00341669,  0.00305189,
        0.00687719, -0.00236533,  0.00878341,  0.00756344, -0.00955376,
       -0.00805684, -0.00761633,  0.00286138, -0.00273273, -0.00695771,
       -0.00813012,  0.00835305,  0.00202244, -0.0093058 , -0.00475626,
        0.00318067, -0.00472022,  0.00529785, -0.00424484,  0.00265378,
       -0.00804291,  0.00617381,  0.00483377,  0.00078821,  0.0030073 ],
      dtype=float32)

In [16]:
clean[0]

'govardhana k senior software engineer bengaluru karnataka karnataka email indeed indeed com r govardhana k b2de315d95905b68 total experience 5 year 6 month cloud lending solution inc 4 month salesforce developer oracle 5 year 2 month core java developer language core java go lang oracle pl sql programming sale force developer apex designation promotion willing relocate anywhere work experience senior software engineer cloud lending solution bangalore karnataka january 2018 present present senior consultant oracle bangalore karnataka november 2016 december 2017 staff consultant oracle bangalore karnataka january 2014 october 2016 associate consultant oracle bangalore karnataka november 2012 december 2013 education b e computer science engineering adithya institute technology tamil nadu september 2008 june 2012 skill apex le 1 year data structure 3 year flexcube 5 year oracle 5 year algorithm 3 year link additional information technical proficiency language core java go lang data structure algorithm oracle pl sql programming sale force apex tool radtool jdeveloper netbeans eclipse sql developer pl sql developer winscp putty web technology javascript xml html webservice operating system linux window version control system svn git hub database oracle middleware web logic oc4j product flexcube oracle flexcube version 10 x 11 x 12 x'

In [17]:
df['cleaned']=clean

In [18]:
df.head()

,content,annotation,cleaned
0,Govardhana K\nSenior Software Engineer\n\nBeng...,"[{'label': ['Companies worked at'], 'points': ...",govardhana k senior software engineer bengalur...
1,"Harini Komaravelli\nTest Analyst at Oracle, Hy...","[{'label': ['Companies worked at'], 'points': ...",harini komaravelli test analyst oracle hyderab...
2,Hartej Kathuria\nData Analyst Intern - Oracle ...,"[{'label': ['Skills'], 'points': [{'start': 22...",hartej kathuria data analyst intern oracle ret...
3,Ijas Nizamuddin\nAssociate Consultant - State ...,"[{'label': ['Skills'], 'points': [{'start': 46...",ijas nizamuddin associate consultant state str...
4,"Imgeeyaul Ansari\njava developer\n\nPune, Maha...","[{'label': ['Skills'], 'points': [{'start': 18...",imgeeyaul ansari java developer pune maharasht...

In [19]:
import spacy

In [20]:
from spacy.lang.en import English

In [21]:
nlp = English()

text = df['cleaned'][0]

my_doc = nlp(text)

## Tokenization

In [22]:
# Create list of word tokens
token_list = []
for token in my_doc:
    token_list.append(token.text)
print(token_list)

['govardhana', 'k', 'senior', 'software', 'engineer', 'bengaluru', 'karnataka', 'karnataka', 'email', 'indeed', 'indeed', 'com', 'r', 'govardhana', 'k', 'b2de315d95905b68', 'total', 'experience', '5', 'year', '6', 'month', 'cloud', 'lending', 'solution', 'inc', '4', 'month', 'salesforce', 'developer', 'oracle', '5', 'year', '2', 'month', 'core', 'java', 'developer', 'language', 'core', 'java', 'go', 'lang', 'oracle', 'pl', 'sql', 'programming', 'sale', 'force', 'developer', 'apex', 'designation', 'promotion', 'willing', 'relocate', 'anywhere', 'work', 'experience', 'senior', 'software', 'engineer', 'cloud', 'lending', 'solution', 'bangalore', 'karnataka', 'january', '2018', 'present', 'present', 'senior', 'consultant', 'oracle', 'bangalore', 'karnataka', 'november', '2016', 'december', '2017', 'staff', 'consultant', 'oracle', 'bangalore', 'karnataka', 'january', '2014', 'october', '2016', 'associate', 'consultant', 'oracle', 'bangalore', 'karnataka', 'november', '2012', 'december', '2013', 'education', 'b', 'e', 'computer', 'science', 'engineering', 'adithya', 'institute', 'technology', 'tamil', 'nadu', 'september', '2008', 'june', '2012', 'skill', 'apex', 'le', '1', 'year', 'data', 'structure', '3', 'year', 'flexcube', '5', 'year', 'oracle', '5', 'year', 'algorithm', '3', 'year', 'link', 'additional', 'information', 'technical', 'proficiency', 'language', 'core', 'java', 'go', 'lang', 'data', 'structure', 'algorithm', 'oracle', 'pl', 'sql', 'programming', 'sale', 'force', 'apex', 'tool', 'radtool', 'jdeveloper', 'netbeans', 'eclipse', 'sql', 'developer', 'pl', 'sql', 'developer', 'winscp', 'putty', 'web', 'technology', 'javascript', 'xml', 'html', 'webservice', 'operating', 'system', 'linux', 'window', 'version', 'control', 'system', 'svn', 'git', 'hub', 'database', 'oracle', 'middleware', 'web', 'logic', 'oc4j', 'product', 'flexcube', 'oracle', 'flexcube', 'version', '10', 'x', '11', 'x', '12', 'x']

## POS Tag

In [23]:
import en_core_web_md

# load en_core_web_md of English for vocabluary, syntax & entities
nlp = en_core_web_md.load()

#  "nlp" Object used to create documents with linguistic annotations.
docs = nlp(df['cleaned'][0])
docs

govardhana k senior software engineer bengaluru karnataka karnataka email indeed indeed com r govardhana k b2de315d95905b68 total experience 5 year 6 month cloud lending solution inc 4 month salesforce developer oracle 5 year 2 month core java developer language core java go lang oracle pl sql programming sale force developer apex designation promotion willing relocate anywhere work experience senior software engineer cloud lending solution bangalore karnataka january 2018 present present senior consultant oracle bangalore karnataka november 2016 december 2017 staff consultant oracle bangalore karnataka january 2014 october 2016 associate consultant oracle bangalore karnataka november 2012 december 2013 education b e computer science engineering adithya institute technology tamil nadu september 2008 june 2012 skill apex le 1 year data structure 3 year flexcube 5 year oracle 5 year algorithm 3 year link additional information technical proficiency language core java go lang data structure algorithm oracle pl sql programming sale force apex tool radtool jdeveloper netbeans eclipse sql developer pl sql developer winscp putty web technology javascript xml html webservice operating system linux window version control system svn git hub database oracle middleware web logic oc4j product flexcube oracle flexcube version 10 x 11 x 12 x

In [24]:
for word in docs:
    print(word.text,word.pos_)

govardhana X
k X
senior ADJ
software NOUN
engineer NOUN
bengaluru NOUN
karnataka NOUN
karnataka NOUN
email NOUN
indeed ADV
indeed ADV
com VERB
r X
govardhana X
k X
b2de315d95905b68 PROPN
total ADJ
experience NOUN
5 NUM
year NOUN
6 NUM
month NOUN
cloud NOUN
lending NOUN
solution NOUN
inc NOUN
4 NUM
month NOUN
salesforce NOUN
developer NOUN
oracle NOUN
5 NUM
year NOUN
2 NUM
month NOUN
core NOUN
java NOUN
developer NOUN
language NOUN
core NOUN
java NOUN
go VERB
lang NOUN
oracle NOUN
pl X
sql NOUN
programming NOUN
sale NOUN
force NOUN
developer NOUN
apex ADJ
designation NOUN
promotion NOUN
willing ADJ
relocate VERB
anywhere ADV
work NOUN
experience NOUN
senior ADJ
software NOUN
engineer NOUN
cloud NOUN
lending NOUN
solution NOUN
bangalore NOUN
karnataka NOUN
january NOUN
2018 NUM
present VERB
present ADJ
senior ADJ
consultant NOUN
oracle NOUN
bangalore NOUN
karnataka NOUN
november PROPN
2016 NUM
december ADP
2017 NUM
staff NOUN
consultant NOUN
oracle NOUN
bangalore NOUN
karnataka NOUN
january NOUN
2014 NUM
october NOUN
2016 NUM
associate ADJ
consultant NOUN
oracle NOUN
bangalore NOUN
karnataka NOUN
november NOUN
2012 NUM
december NOUN
2013 NUM
education NOUN
b NOUN
e NOUN
computer NOUN
science NOUN
engineering NOUN
adithya PROPN
institute NOUN
technology NOUN
tamil NOUN
nadu NOUN
september NOUN
2008 NUM
june NOUN
2012 NUM
skill NOUN
apex ADJ
le X
1 NUM
year NOUN
data NOUN
structure NOUN
3 NUM
year NOUN
flexcube NOUN
5 NUM
year NOUN
oracle NOUN
5 NUM
year NOUN
algorithm NOUN
3 NUM
year NOUN
link NOUN
additional ADJ
information NOUN
technical ADJ
proficiency NOUN
language NOUN
core NOUN
java NOUN
go VERB
lang NOUN
data NOUN
structure NOUN
algorithm VERB
oracle NOUN
pl X
sql NOUN
programming NOUN
sale NOUN
force NOUN
apex ADJ
tool NOUN
radtool NOUN
jdeveloper NOUN
netbeans NOUN
eclipse NOUN
sql NOUN
developer NOUN
pl X
sql NOUN
developer NOUN
winscp ADV
putty NOUN
web NOUN
technology NOUN
javascript NOUN
xml NOUN
html NOUN
webservice NOUN
operating NOUN
system NOUN
linux NOUN
window NOUN
version NOUN
control NOUN
system NOUN
svn VERB
git NOUN
hub NOUN
database NOUN
oracle NOUN
middleware NOUN
web NOUN
logic NOUN
oc4j X
product NOUN
flexcube NOUN
oracle NOUN
flexcube NOUN
version NOUN
10 NUM
x SYM
11 NUM
x SYM
12 NUM
x SYM